{% extends 'base.html' %}

{% block content %}

<div class="hero">
    <h1>🐾 Welcome to PetVerse 🐾</h1>
    <p>Your Complete Pet Care & Shopping Platform</p>

    <a href="/shop/" class="explore-btn">
        Explore Now
    </a>
</div>


<div class="services">

    <div class="card">
        <a href="/pets/" style="text-decoration:none; color:inherit;">
            <h2>🐶 Pet Care</h2>
            <p>Complete care information for your pets.</p>
        </a>
    </div>


    <div class="card">
        <a href="/shop/" style="text-decoration:none; color:inherit;">
            <h2>🛒 Pet Shop</h2>
            <p>Food, toys, clothes and accessories.</p>
        </a>
    </div>


    <div class="card">
        <a href="/appointments/" style="text-decoration:none; color:inherit;">
            <h2>🏥 Doctor Appointment</h2>
            <p>Book appointments with trusted veterinarians.</p>
        </a>
    </div>


    <div class="card">
        <a href="/medicines/" style="text-decoration:none; color:inherit;">
            <h2>💊 Medicines</h2>
            <p>Order medicines online.</p>
        </a>
    </div>


    <div class="card">
        <a href="/adoption/" style="text-decoration:none; color:inherit;">
            <h2>❤️ Adoption</h2>
            <p>Find your new best friend.</p>
        </a>
    </div>

</div>


{% endblock %}